.menuSection {
    width: 60%;
    text-align: center;
    margin: 2em auto;
    border-bottom: 2px solid var(--accent-clr);
}

.menuTitle {
    font-size: 2rem;
    border-bottom: 2px solid var(--accent-clr);
    margin-bottom: 1em;
}

