@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
  --primary-clr: #F5F5F5;
  --secondary-clr: #757575;
  --accent-clr: #9687A8
}


*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

html,
body {
  background-color: var(--primary-clr);
  color: var(--secondary-clr);
}

button {
  border: none;
  background: none;
}